[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
"flake8" = "*"

[packages]
hap-python = {version = "*", extras = ["qrcode"]}

[requires]
python_version = "3.7"
