[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
"flake8" = "*"
black = "*"

[packages]
hap-python = {version = "*", extras = ["qrcode"]}
future-fstrings = { version = "*", markers = "python_version <= '3.5'" }

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
