[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
"flake8" = "*"
black = "*"

[packages]
hap-python = {version = "*", extras = ["qrcode"]}
python-zeroconf = { version = "0.36.11" }

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
